@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

section[epub|type~="dedication"] p{
	font-style: italic;
	margin-top: 5em;
	text-align: center;
}

section[epub|type~="foreword"] h2 + p{
	font-style: italic;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}
