@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

section[epub|type~="dedication"] p{
	font-style: italic;
	margin-top: 5em;
	text-align: center;
}

section[epub|type~="foreword"] h2 + p{
	font-style: italic;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

figure.full-page{
	margin: 0;
	max-height: 100%;
	page-break-before: always;
	page-break-after: always;
	page-break-inside: avoid;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

figcaption{
	font-size: .75em;
	font-style: italic;
}
